<div class="card">
  <div class="card-header">
    {{ pageTitle }}
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-2">Filter by:</div>
      <div class="col-md-4">
        <!-- <input type="text" [(ngModel)]="listFilter" /> -->
        <input placeholder="Search Care.." [formControl]="filter" />
      </div>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table" *ngIf="(cares$ | async)?.length">
      <thead>
        <tr>
          <th>Date</th>
          <th>Description</th>
          <th>Beneficiary</th>
          <th>Paid amount</th>
          <th>Completed</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let care of cares$ | async; trackBy: trackByFn">
          <td>{{ care.date }}</td>
          <td>{{ care.description }}</td>
          <td>{{ care.beneficiary }}</td>
          <td>{{ care.paidAmount | currency: 'EUR' }}</td>
          <td><cm-star [rating]="care.completed"></cm-star></td>
          <td>
            <button class="btn btn-outline-primary btn-sm mr-1" [routerLink]="['/cares', care.id]">
              View
            </button>
            <button
              class="btn btn-outline-primary btn-sm"
              [routerLink]="['/cares', care.id, 'edit']"
            >
              Edit
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
