<div class='card'>
    <div class='card-header'>
        Care List
    </div>
    <div class='card-body'>
        <div class='row'>
            <div class='col-md-2'>Filter by:</div>
            <div class='col-md-4'>
                <input type='text' />
            </div>
        </div>
        <div class='row'>
            <div class='col-md-6'>Filtered by:</div>
        </div>
    </div>
    <div class='table-responsive'>
        <table class='table'>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Beneficiary</th>
                    <th>Professional</th>
                    <th>Payor</th>
                    <th>Paid amount</th>
                    <th>Payment Method</th>
                    <th>Health Card</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
</div>
