<div class="card">
  <div class="card-header">
    {{ pageTitle }}
  </div>

  <div class="card-body">
    <form novalidate (ngSubmit)="saveCare()" [formGroup]="careForm">
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="description">Description</label>
        <div class="col-md-8">
          <input
            class="form-control"
            id="description"
            type="text"
            placeholder="Description (required)"
            formControlName="description"
            [ngClass]="{ 'is-invalid': displayMessage.description }"
          />
          <span class="invalid-feedback">
            {{ displayMessage.description }}
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="beneficiary">Beneficiary</label>
        <div class="col-md-8">
          <input
            class="form-control"
            id="beneficiary"
            type="text"
            placeholder="Beneficiary (required)"
            formControlName="beneficiary"
            [ngClass]="{ 'is-invalid': displayMessage.beneficiary }"
          />
          <span class="invalid-feedback">
            {{ displayMessage.description }}
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="professional">Professional</label>
        <div class="col-md-8">
          <input
            class="form-control"
            id="professional"
            type="text"
            placeholder="Professional (required)"
            formControlName="professional"
            [ngClass]="{ 'is-invalid': displayMessage.professional }"
          />
          <span class="invalid-feedback">
            {{ displayMessage.professional }}
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="payor">Payor</label>
        <div class="col-md-8">
          <input
            class="form-control"
            id="payor"
            type="text"
            placeholder="Payor (required)"
            formControlName="payor"
            [ngClass]="{ 'is-invalid': displayMessage.payor }"
          />
          <span class="invalid-feedback">
            {{ displayMessage.payor }}
          </span>
        </div>
      </div>
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="paidAmount">Paid Amount</label>
        <div class="col-md-8">
          <input
            class="form-control"
            id="paidAmount"
            type="text"
            placeholder="Paid Amount (required)"
            formControlName="paidAmount"
            [ngClass]="{ 'is-invalid': displayMessage.paidAmount }"
          />
          <span class="invalid-feedback">
            {{ displayMessage.paidAmount }}
          </span>
        </div>
      </div>
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="paymentMethod">Payment Method</label>
        <div class="col-md-8">
          <input
            class="form-control"
            id="paymentMethod"
            type="text"
            placeholder="Payment Method (required)"
            formControlName="paymentMethod"
            [ngClass]="{ 'is-invalid': displayMessage.paymentMethod }"
          />
          <span class="invalid-feedback">
            {{ displayMessage.paymentMethod }}
          </span>
        </div>
      </div>
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="healthCard">Health Card </label>
        <div class="col-md-8">
          <input
            class="form-control"
            id="healthCard"
            type="text"
            placeholder="Health Card (required)"
            formControlName="healthCard"
            [ngClass]="{ 'is-invalid': displayMessage.healthCard }"
          />
          <span class="invalid-feedback">
            {{ displayMessage.healthCard }}
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="comment">Comment</label>

        <div class="col-md-8">
          <textarea class="form-control"
                    id="comment"
                    placeholder="Comment"
                    rows=3
                    formControlName="comment"></textarea>

        </div>
      </div>

      <div *ngIf="refunds.length" class="card-header">Refunds</div>
      <div class="form-group row mb-2">
        <div class="col-md-4">
          <button
            class="btn btn-outline-primary"
            type="button"
            [disabled]="!refunds.valid"
            (click)="addRefund()"
          >
            Add a refund
          </button>
        </div>
      </div>
      <div
        class="card-body"
        formArrayName="refunds"
      >

        <div class="row">
          <div class="col-md-6" *ngFor="let refund of refunds.controls; let i = index">
            <div class="card">
              <div class="card-body">
            <div [formGroupName]="i" class="row">
              <div class="form-group col-md-8">
              <label  attr.for="{{ 'transmission' + i }}"
                >Transmission</label
              >
              <div>
                <input
                  class="form-control"
                  id="{{ 'transmission' + i }}"
                  type="text"
                  placeholder="Transmission (required)"
                  formControlName="transmission"
                />
                <span class="invalid-feedback"> </span>
              </div>
              </div>
              <div class="form-group col-md-8">
              <label attr.for="{{ 'sendDate' + i }}"
                >Send date
              </label>
              <div >
                <input
                  class="form-control"
                  id="{{ 'sendDate' + i }}"
                  type="text"
                  placeholder="Send date (Required)"
                  formControlName="sendDate"
                />
                <span class="invalid-feedback"> </span>
              </div>
              </div>
              <div class="form-group col-md-8">
              <label  attr.for="{{ 'refundDate' + i }}"
                >Refund date
              </label>
              <div >
                <input
                  class="form-control"
                  id="{{ 'refundDate' + i }}"
                  type="text"
                  placeholder="HRefund date"
                  formControlName="refundDate"
                />
                <span class="invalid-feedback"> </span>
              </div>
              </div>
              <div class="form-group col-md-8">
              <label  attr.for="{{ 'amount' + i }}">Amount</label>
              <div >
                <input
                  class="form-control"
                  id="{{ 'amount' + i }}"
                  type="text"
                  placeholder="Amount (required)"
                  formControlName="amount"
                />
                <span class="invalid-feedback"> </span>
              </div>
              </div>
              <div class="form-group col-md-8">
              <label  attr.for="{{ 'onAccount' + i }}"
                >On account
              </label>
              <div >
                <input
                  class="form-control"
                  id="{{ 'onAccount' + i }}"
                  type="text"
                  placeholder="On account (required)"
                  formControlName="onAccount"
                />
                <span class="invalid-feedback"> </span>
              </div>
              </div>
            </div>
            <div class="form-group row mb-2">
              <button class="btn btn-danger" type="button" (click)="removeRefund(i)"> Remove </button>
            </div>
            </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row mb-2">
        <div class="offset-md-2 col-md-4">
          <button
            class="btn btn-primary mr-3"
            style="width:80px;"
            type="submit"
            [title]="
              careForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'
            "
            [disabled]="!careForm.valid"
          >
            Save
          </button>
          <button
            class="btn btn-outline-secondary mr-3"
            style="width:80px;"
            type="button"
            title="Cancel your edits"
            [routerLink]="['/cares']"
          >
            Cancel
          </button>
          <button
            class="btn btn-outline-warning"
            style="width:80px"
            type="button"
            title="Delete this product"
            (click)="deleteCare()"
          >
            Delete
          </button>
        </div>
      </div>
    </form>
  </div>

  <!-- <div class="alert alert-danger"
             *ngIf="errorMessage">{{errorMessage}}
        </div> -->
</div>
